# Target & Build
target/
**/target/
build/
**/build/

# IDE & Editor files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.sts4-cache/

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
